
<h2>標題 : <%= @article.title %></h2>

<div class="well col-xs-8 col-xs-offset-2">

	<h4 class="center description"><strong>Description:</strong></h4>
		<hr>
		<%= simple_format(@article.description) %>
		<div class="article-actions">
			<%= link_to "編輯此篇文章", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
			<%= link_to "刪除此篇文章", article_path(@article), method: :delete, 
									  data: {confirm: "確定要刪除？"} , 
									  class: "btn btn-xs btn-danger" %>
			<%= link_to "文章總覽", articles_path, class: "btn btn-xs btn-success" %>
		</div>
</div>


